<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <add name="CheckTesteAuditoria.Properties.Settings.ProducaoConnectionString" connectionString="Provider=SQLOLEDB;Data Source=10.1.0.150;Password=******;User ID=usroa3;Initial Catalog=Producao" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="Posto" value="3"/>
    <add key="Linha" value="DWKPROD"/>
    <add key="DischargeTeste" value="true"/>
    <add key="AudioEditor" value="true"/>
    <add key="Touchpad" value="true"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
